{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "jsxSingleQuote": true,
  "trailingComma": "es5",
  "endOfLine": "lf",
  "printWidth": 120
}
