.gm-style > div:first-child {
  background-color: #000000;
}

/* https://stackoverflow.com/questions/69027683/react-google-maps-api-googlemap-onclick-not-working */
.gm-style-moc {
  height: unset !important;
}

.gm-ana-label {
  text-shadow: -1px 1px 2px #fff,
                1px 1px 2px #fff,
                1px -1px 0 #fff,
               -1px -1px 0 #fff;
}
